<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"></meta>
    <title>营销助手app管理平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/style.css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.SuperSlide.js"></script>
<script type="text/javascript">
	$(function() {
		$(".sideMenu").slide({
			titCell : "h3",
			targetCell : "ul",
			defaultIndex : 0,
			effect : 'slideDown',
			delayTime : '500',
			trigger : 'click',
			triggerTime : '150',
			defaultPlay : true,
			returnDefault : false,
			easing : 'easeInQuint',
			endFun : function() {
				scrollWW();
			}
		});
		$(window).resize(function() {
			scrollWW();
		});
	});
	function scrollWW() {
		if ($(".side").height() < $(".sideMenu").height()) {
			$(".scroll").show();
			var pos = $(".sideMenu ul:visible").position().top - 38;
			$('.sideMenu').animate({
				top : -pos
			});
		} else {
			$(".scroll").hide();
			$('.sideMenu').animate({
				top : 0
			});
			n = 1;
		}
	}
	var urlstr = location.href;
	var urlstatus = false;
	$("#nav a").each(
			function() {
				if ((urlstr + '/').indexOf($(this).attr('href')) > -1
						&& $(this).attr('href') != '') {
					$(this).addClass('curument');
					urlstatus = true;
				} else {
					$(this).removeClass('curument');
				}
			});
	if (!urlstatus) {
		$("#nav a").eq(0).addClass('curument');
	}

	var n = 1;
	function menuScroll(num) {
		var Scroll = $('.sideMenu');
		var ScrollP = $('.sideMenu').position();
		/*alert(n);
		alert(ScrollP.top);*/
		if (num == 1) {
			Scroll.animate({
				top : ScrollP.top - 38
			});
			n = n + 1;
		} else {
			if (ScrollP.top > -38 && ScrollP.top != 0) {
				ScrollP.top = -38;
			}
			if (ScrollP.top < 0) {
				Scroll.animate({
					top : 38 + ScrollP.top
				});
			} else {
				n = 1;
			}
			if (n > 1) {
				n = n - 1;
			}
		}
	}

	function selectFunction(text, a) {
		$('#here_area').text("当前位置：" + text);
		$("li").removeClass("on");
		$(a).parent().attr("class", 'on');

	}
</script>
<title>营销助手app版本管理平台</title>
</head>
<body>
	<div class="top">
		<div id="top_t">
			<div class="fl" style="font-size:33px;line-height:81px;font-family:隶书;color:yellow;padding-left: 10px;">
				<img alt="" src="../images/gg/gglogo.png" style="padding-left: 0px;width: 230px;height: 38px">
		<span style="color: white;text-align: center;padding-left: 100px;">
		营销助手app版本管理平台v1.0
		</span>
				</div>
		</div>
		<hr style="border-color: #323D54;">
		<div id="side_here">
			<div id="side_here_l" class="fl" style="text-align: center;"><h1 style="color: #FFFFFF;">功能菜单 </h1><hr style="border-color: #323D54;"></div>
			<div id="here_area" class="fl">当前位置：</div>
		</div>
	</div>
	<div class="side">
		<div class="sideMenu" style="margin:0 auto">
		<h3 style="color: #FFFFFF;">APP版本管理</h3>
		<ul>
				<li><a style="color: #FFFFFF;" href="/version/activeVersion" target="right"
					onclick="selectFunction('最新版本',this)">最新版本</a></li>
				<li><a style="color: #FFFFFF;" href="/version/showAllVersion?pageindex=1" target="right"
					onclick="selectFunction('查看所有版本',this)">查看所有版本</a></li>
				<li><a style="color: #FFFFFF;" href="/qiniu/goAddVersion" target="right"
					onclick="selectFunction('更新版本',this)">更新版本</a></li>
		</ul>
		</div>
	</div>
	<div class="main">
		<iframe name="right" id="rightMain"
			src="/version/activeVersion" frameborder="no"
			scrolling="auto" width="100%" height="auto" allowtransparency="true">
	    </iframe>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<h1>欢迎使用营销助手app版本管理平台</h1>
	</div>
	<div class="bottom">
		<div id="bottom_bg">版权  光谷电气</div>
	</div>
	<div class="scroll">
		<a href="javascript:;" class="per" title="使用鼠标滚轴滚动侧栏"
			onclick="menuScroll(1);"></a> <a href="javascript:;" class="next"
			title="使用鼠标滚轴滚动侧栏" onclick="menuScroll(2);"></a>
	</div>
</body>

</html>

